<!--Banner with Search -->
<div class="hero-image">
  <div class="hero-text">
    <h1> PLAY </h1>
    <p> Rent a Toy Today - Save Money Tomorrow </p>
    <!-- the search -->
    <div class="Search-Home">
      <div class="row">
        <div class="col-sm-offset-2 col-sm-8 text-center">
          <%= form_tag(toys_path, { method: :get, :class => 'form-inline'}) do %>
          <%= text_field_tag(:search, params[:search]) %>
          <p> </p>
          <%= submit_tag ("search"), class: "buttonMedium" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @toys.each do |toy| %>
    <div class="col-xs-12 col-md-4 children-flex">
      <div class="flexbox">
        <div class="example-2 cardindex">
          <div class="wrapper" style="background-image: url('<%= toy.photo %>')">
            <div class="header">
              <ul class="menu-content">
                <li>
                  <a href="#" class="fa fa-bookmark-o"></a>
                </li>
                <li><a href="#" class="fa fa-heart-o"><span>3</span></a></li>
                <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
              </ul>
            </div>
            <div class="data" style="">
              <div class="content">
                <span class="author"><%= toy.name %></span>
                <h1 class="title"><a href="#"><%= toy.price %> € </a></h1>
                <p class="text"><%= toy.description %></p>
                <a href="#" class="button">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<!-- <div class="row">
  <h2> My searched toys: </h2>
  <% @toys.each do |toy| %>
  <div class="col-xs-12">
    <div class="card", style="background-image: url('<%= toy.photo %>')" >
      <div class="wrapper">
        <div class="header">
          <ul class="menu-content">
            <li>
              <a href="#" class="fa fa-bookmark-o"></a>
            </li>
            <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
          </ul>
        </div>
        <div class="data">
          <div class="toy">
            <span class="name"><%= toy.price %></span>
            <h1 class="title"><a href="#"><%= toy.name %></a></h1>
            <p class="text"><%= toy.description %></p>
            <a href="#" class="button">Read more</a>
          </div>
        </div>
      </div>
      <a class="card-link" href="" ></a>
    </div>
    <% end %>
  </div>
</div> -->

<!--include the listing of all the toys -->
<!-- <div class="container">
  <div class="row">
    <h2> My searched toys: </h2>
    <% @toys.each do |toy| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card", style="background-image: url('<%= toy.photo %>')">
        <div class="card-description-link">
          <h2><%= link_to toy.name, toy_path(toy) %></h2>
          <p><%= toy.price %> EUR </p>
          <a class="card-link" href="" ></a>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div> -->


