<div class="toy-form">
 <div class="col-xs-12 col-sm-4">
  <%= simple_form_for (@toy) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.select(:category, options_for_select(
    [["Babies", "Babies"],
    ["Games", "Games"],
    ["Babydoll", "Babydoll"],
    ["Heroes", "Heroes"],
    ["Puzzle", "Puzzle"]
    ])) %>
    <%= f.input :price %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.button :submit, class: 'btn btn-primary' %>
    <% end  %>
  </div>
</div>

