<div class="container">

  <div class="ToyInformations">

    <div class="ToyInfo">
      <p> <strong>Name:</strong> <%= @toy.name %> </p>

      <p> <strong>Detail:</strong> <%= @toy.description %> </p>

      <p> <strong>Price:</strong> <%= @toy.price %> </p>

      <p> <strong>Category:</strong> <%= @toy.category %> </p>
    </div>

    <div class="ToyPhoto">
      <p> <%= cl_image_tag @toy.photo, width: 400, height: 300, crop: :fill %>
      </p>
    </div>

    <div class="ToyLink">
      <ul>
        <div class="buttonMedium">
          <%= link_to "Back to list", toys_path %>
        </div>

        <div class="buttonMedium">
          <%= link_to "Edit", edit_toy_path(@toy) %>
        </div>

        <div class="buttonMedium">
          <%= link_to "Remove", toy_path(@toy), method: :delete, data:{confirm: "Are you sure?" } %>
        </div>

        <div class="buttonMedium">
          <%= link_to "Book this toy !", new_toy_booking_path(@toy) %>
        </div>

        <div class="buttonMedium">
          <%= link_to "Add a review !", new_toy_review_path(@toy) %>
        </div>

      </ul>
    </div>

    <div class="ToyRating">
      <%  if @toy.reviews.first == nil  %>
      <h2> <%=   "There are no reviews"  %> </h2>
      <%  else  %>
      <h2> What they tell about this toy: </h2>
      <% @toy.reviews.each do |review| %>
      <small>
        <% count = 0 %>
        <% 5.times do %>
        <% if review.rating > count %>
        <i class="fas fa-star"></i>
        <% else %>
        <i class="far fa-star"></i>
        <% end %>
        <% count += 1 %>
        <% end %>
      </small>
      <p> <%= review.content %> </p>
      <% end %>
      <% end %>
    </div>

  </div>

</div>
