<h1>New booking:</h1>

<div class="row">
  <div class="col-sm-4 text-center">
    <%= cl_image_tag @toy.photo, height: 150, width: 230, crop: :fill %>
  </div>
  <div class="col-sm-4">
    <h4>category:</h4>
    <p> <%= @toy.category %> </p>
    <h4>Description:</h4>
    <p> <%= @toy.description %> </p>
  </div>
  <div class="col-sm-4">
    <h4>From the owner:</h4>
    <p> <%= @toy.owner.email %> </p>
    <h4>Price:</h4>
    <p> <%= @toy.price %> </p>
  </div>
</div>

<!-- date picker input.      <input type="text" data-provide='datepicker' >
 -->
 <hr>
<div class="row">
  <div class="col-md-offset-2 col-md-10 text-center">
    <%= simple_form_for [@toy, @booking] do |f| %>
      <div class="col-md-5">
      <%= f.text_field :date_start, data: {provide: "datepicker"}  %>      <hr>
      </div>
      <div class="col-md-5">
      <%= f.text_field :date_end, data: {provide: "datepicker"}  %>
      </div>
  </div>
      <hr>


</div>
<div class="row">
  <div class="col-sm-offset-4 col-sm-4 text-center">
      <%= f.button :submit, class: "btn btn-primary" %>
      <%= link_to "Cancel", toy_path(@toy) %>
    <% end %>
  </div>
</div>

