<h1>New booking:</h1>

<div class="row">
  <div>
    <!-- here I want a picture of the toy -->
    <%= cl_image_tag @booking.toy.photo, height: 300, width: 400, crop: :fill %>
  </div>
  <div>
    <h3>category:</h3>
    <p> <%= @booking.toy.category %> </p>
    <hr>
    <h3>Description:</h3>
    <p> <%= @booking.toy.description %> </p>
    <hr>
    <h3>From the owner:</h3>
    <p> <%= @booking.owner.email %> </p>
    <h3>Price:</h3>
    <p> <%= @booking.toy.price %> </p>
  </div>
</div>

<div class="row">
  <div>
    <%= simple_form_for @booking do |b| %>
      <%= b.input :date_start, placeholder: "Starting date..." %>
      <%= b.input :date_end, placeholder: "Ending date..." %>
      <%= b.button :submit, class: "btn btn-primary" %>
      <%= link_to "Cancel", bookings_path %>
    <% end %>
  </div>
</div>
