<h1>New booking:</h1>

<div class="row">
  <div>
    <%= cl_image_tag @toy.photo, height: 300, width: 400, crop: :fill %>
  </div>
  <div>
    <h3>category:</h3>
    <p> <%= @toy.category %> </p>
    <hr>
    <h3>Description:</h3>
    <p> <%= @toy.description %> </p>
    <hr>
    <h3>From the owner:</h3>
    <p> <%= @toy.owner.email %> </p>
    <h3>Price:</h3>
    <p> <%= @toy.price %> </p>
  </div>
</div>

<div class="row">
  <div>
    <%= simple_form_for @booking do |f| %>
      <%= f.input :date_start, placeholder: "Starting date..." %>
      <%= f.input :date_end, placeholder: "Ending date..." %>
      <%= f.button :submit, class: "btn btn-primary" %>
      <%= link_to "Cancel", toy_path %>
    <% end %>
  </div>
</div>
