<div class= "container">
  <div class="row">
    <p></p>
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <p></p>
      <p> Your review of <%= @toy.name %> : </p>

      <%= simple_form_for [@toy, @review] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating, collection: 0..5 %>
      <%= f.submit "Add my review", class: "ButtonPinkNoFill" %>
      <% end %>
      <p></p>
      <%= link_to "Back to all the toys", toys_path %>
    </div>
  </div>
</div>
